<footer class="my_footer">
  <div class="left_footer">
    <pre class="logo_ascii">
   _____          __                  .__  .__                       
  /  _  \________/  |_     _________  |  | |  |   ___________ ___.__.
 /  /_\  \_  __ \   __\   / ___\__  \ |  | |  | _/ __ \_  __ <   |  |
/    |    \  | \/|  |    / /_/  > __ \|  |_|  |_\  ___/|  | \/\___  |
\____|__  /__|   |__|    \___  (____  /____/____/\___  >__|   / ____|
        \/              /_____/     \/               \/       \/     
    </pre>
  </div>
  
  <div class="right_footer">
    <a href="#"><img class="social_logo" src="images/footer/instagram.png" alt="instagram"></a>
    <a href="#"><img class="social_logo" src="images/footer/vk-logo.png" alt="vk_logo"></a>
    <a href="#"><img class="social_logo" src="images/footer/youtube.png" alt="youtube"></a>
  </div>
</footer>